<div id="welcome">
<h1> Pretty Basic Travel App </h1>

<h2>Welcome to the start of your journey. Choose your path</h2>
<div>
<ul>
<li>
<a href='/visit/new'>Create</a></li>
<li>
  <a href='/visits/status'>View all</a></li>
  </ul>
</div>
</div>
