<div >
<h1> Pretty Basic Travel App </h1>

<h2>Welcome to the start of your journey.
  Choose your path</h2>
<div id="welcome">
<ul>
<ul> <button> <a href='/visit/new'>Create</a></button></ul>
<ul> <button> <a href='/visits/status'>View all</a></button></ul>
  </ul>
</div>
</div>
