<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
    <nav>
  
    </nav>
    <%= yield %>
    </main>
  </body>
</html>
