body {
  padding: 0px;
  font-family: 'Lucida Grande' ,cursive;
  font-size: 35px;
  text-align: center;
  color: blanchedalmond;
  background-image: url("/travel-background.jpg");
  background-size: cover;

}

#trip-wrapper{
  font-family: Helvetica, serif;
  font-size: 25px;
   color: black;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   opacity: 0.7;
}
.trip {
  text-align: left;
  border: 1px solid;
  margin-inline-end: 2px;
  margin-bottom: 3px;
  padding-left: 10px;
  background-color: silver;
}

input[type=submit] {
  background-color: DESERT SAND
  border: 1px solid;
  border-color: black;
  box-shadow: 2px 4px #6D4C3D;
  color: black;
  padding: 10px 22px;
}


#welcome{
  height: 100%;
  font-family: 'Lucida Grande',sans-serif;
  

}

ul {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
}

form {
  display: inline-grid;
}

.delete{
  font-family: Helvetica;
  font-size: 25px;
}

.image img {
  display: block;
  height: 150vh;
  width: 150vw;
  object-fit: cover;
  background-color: white;
}
.delete h3 {
  position: absolute;
  top: 10%;
  left: 25%;
}

.new {
  color: black;
  position: absolute;
  top: 20%;
  left: 30%;
}

button {
  background-color: DESERT SAND
  border: 1px solid;
  border-color: black;
  box-shadow: 2px 4px #6D4C3D;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
