body {
  padding: 30px;
  font-family: 'Lucida Grande' ,cursive;
  color: blue;
  background-color: yellow;
  background-image: url("/map-travel.jpg");
  background-size: cover;

}

ul {
  padding: 0px;
  margin: auto;
  list-style-type: none;
}


.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#trip-wrapper{
  font-family: 'Lucida Grande';
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.trip {
  padding-left: 10px
}

#welcome{
  height: 100%
  font-family: 'Lucida Grande',sans-serif;
  border-width: thin; 10px;
  border-color: silver;

  margin: 100px
}
